.table__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #869291;
  margin: 1rem 1rem 0 1rem;
  border-radius: 8px 8px 0 0;
}

.table__icon {
  width: 20px;
  height: 20px;
  padding-right: 1rem;
}

.table__title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 0 1rem;
}

table {
  width: 100%;
  table-layout: fixed;
}
