$headerHeight: 40px;

.header__nav-container {
  flex: 1;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  height: $headerHeight;
  justify-content: space-around;
  padding-right: 16px;
}

