@use "../../styles/values";

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
}

.container__tables {
  display: flex;
  flex: 1;
  padding-top: values.$headerHeight;
  margin-left: values.$leftPanelWidth;
  flex-direction: column;
}

